*~
*#
*.o
*.so
*.swp
*.dat
TAGS
TAGS-*
*-pw.*
Makefile.depends
*.elc
ede-projects.el
srecode-map.el
tramp
.emacs.desktop
.smex-items
.emacs.desktop.lock
auto-save-list
backups
elpa
icons
places
nrepl-history
Limbo
tutorial
magithub
RCS
semanticdb
Starter-Kit
url
vendor
eww-bookmarks
j-mode
network-security.data
session.*
